//Font face google Lato 
@font-face {
  font-family: "Lato";
  src: url("Lato-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: Bold;
}


@font-face {
  font-family: "Lato";
  src: url("Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//End
