<div class="home-wrapper">
  <table mat-table [dataSource]="stockStatusData" class="stock-status-table w-100">

    <ng-container matColumnDef="num">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.num}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="orderNum">
      <th mat-header-cell *matHeaderCellDef> Order Number </th>
      <td mat-cell *matCellDef="let element"> {{element.orderNum}} </td>
    </ng-container>

    <ng-container matColumnDef="pin">
      <th mat-header-cell *matHeaderCellDef> PIN </th>
      <td mat-cell *matCellDef="let element"> {{element.pin}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="issuedDate">
      <th mat-header-cell *matHeaderCellDef> Issued Date </th>
      <td mat-cell *matCellDef="let element"> {{element.issuedDate}} </td>
    </ng-container>

    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef> Due Date </th>
      <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
    </ng-container>

    <ng-container matColumnDef="extendedDate">
      <th mat-header-cell *matHeaderCellDef> Extended Date </th>
      <td mat-cell *matCellDef="let element"> {{element.extendedDate}} </td>
    </ng-container>

    <ng-container matColumnDef="payment">
      <th mat-header-cell *matHeaderCellDef> Payment </th>
      <td mat-cell *matCellDef="let element"> {{element.payment}} </td>
    </ng-container>

    <ng-container matColumnDef="productStatus">
      <th mat-header-cell *matHeaderCellDef> Product Status </th>
      <td mat-cell *matCellDef="let element"> {{element.productStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="remarks">
      <th mat-header-cell *matHeaderCellDef> Remarks </th>
      <td mat-cell *matCellDef="let element"> {{element.remarks}} <div></div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="stockStatusColumns" class="table-header"></tr>
    <tr mat-row *matRowDef="let row; columns: stockStatusColumns;" class="stock-status-row"
      [ngClass]="{'danger' : row.color === 'danger', 'normal' : row.color === 'normal'}"></tr>
  </table>

</div>
