<div class="header-wrapper flex-display">
  <h1 mat-dialog-title class="font-weight-bold">{{data.product.CategoryName}}</h1>
  <span [mat-dialog-close]="{event : 'close'}" class="material-icons cursor-pointer">close</span>
</div>

<div mat-dialog-content>
  <form class="add-product-form">

    <mat-form-field class="w-100" *ngIf="data.product.Material.length > 0 || data.product.Technology.length > 0">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="data.type" [ngModelOptions]="{standalone: true}">
        <mat-option [value]="type.CategoryID" *ngFor="let type of typeList"
          (click)="onDropDownChange(type.CategoryName, 'type')">
          {{type.CategoryName}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="data.product.Height.length > 0">
      <mat-label>Height</mat-label>
      <mat-select [(ngModel)]="data.height" [ngModelOptions]="{standalone: true}">
        <mat-option [value]="height.CategoryID" *ngFor="let height of data.product.Height"
          (click)="onDropDownChange(height.CategoryName, 'height')">
          {{height.CategoryName}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="data.product.Weight.length > 0">
      <mat-label>Weight</mat-label>
      <mat-select [(ngModel)]="data.weight" [ngModelOptions]="{standalone: true}">
        <mat-option [value]="weight.CategoryID" *ngFor="let weight of data.product.Weight"
          (click)="onDropDownChange(weight.CategoryName, 'weight')">{{weight.CategoryName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="data.Description" [ngModelOptions]="{standalone: true}" />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Quantity</mat-label>
      <input matInput type="number" [(ngModel)]="data.Quantity" [ngModelOptions]="{standalone: true}" />
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="data.product.Quality.length > 0">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="data.QualityCategoryID" [ngModelOptions]="{standalone: true}">
        <mat-option [value]="quality.CategoryID" *ngFor="let quality of data.product.Quality"
          (click)="onDropDownChange(quality.CategoryName, 'quality')">{{quality.CategoryName}}
        </mat-option>
      </mat-select>
    </mat-form-field>


  </form>
</div>
<div mat-dialog-actions class="dailog-btns">
  <button mat-button [mat-dialog-close]="{event : 'close'}" class="default-btn">Close</button>
  <button mat-button class="default-btn" (click)="addProduct()">{{data.action === 'add'? 'Add' : 'Save'}}</button>
</div>
