<div class="my-inventory-wrapper flex-display">
  <div class="gym-items-list">
    <ul class="category-wrapper">
      <li class="category-list flex-display cursor-pointer" [ngClass]="{'active' : activeCatIndex === categoryIndex}"
        (mouseenter)="hoverListIndex = categoryIndex" (mouseleave)="hoverListIndex = -1"
        *ngFor="let category of categoryList; let categoryIndex = index"
        (click)="selectCategory(category,categoryIndex)">
        <div class="category-img-wrapper">
          <img class="category-img h-100 w-100"
            [src]="(hoverListIndex === categoryIndex || activeCatIndex === categoryIndex)? 'assets/images/dumbell_white.png' : 'assets/images/dumbell_black.png'"
            alt="Category">
        </div>
        <span class="category-name">{{category.CategoryName}}</span>
      </li>
    </ul>
  </div>

  <div class="gym-items-info">
    <div class="selected-category flex-display">
      <span class="font-weight-bold">{{selectedCategory?.CategoryName}}</span>
      <button type="button" class="default-btn" (click)="addProduct()">Add Product</button>
    </div>

    <div class="preview-table-wrapper" *ngIf="showPreviewTable">
      <div class="table-wrapper">
        <table mat-table #previewTable [dataSource]="previewTablesData" class="preview-table w-100">

          <ng-container matColumnDef="Num">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let rowIndex = index"> {{rowIndex+1}} </td>
          </ng-container>

          <ng-container matColumnDef="Image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let element"> {{element.Image}} </td>
          </ng-container>

          <ng-container matColumnDef="Product">
            <th mat-header-cell *matHeaderCellDef> Product </th>
            <td mat-cell *matCellDef="let element"> {{element.Product}} </td>
          </ng-container>

          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
          </ng-container>

          <ng-container matColumnDef="Weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.Weight}} </td>
          </ng-container>

          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef class="desc-col"> Description </th>
            <td mat-cell *matCellDef="let element" class="desc-col"> {{element.Description}} </td>
          </ng-container>

          <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
          </ng-container>

          <ng-container matColumnDef="Quality">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.Quality}} </td>
          </ng-container>

          <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element;let rowIndex = index">
              <span class="material-icons cursor-pointer" (click)="editRow(element, rowIndex)">
                edit
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element;let rowIndex = index;">
              <span class="material-icons cursor-pointer" (click)="deletePreviewTableRow(rowIndex)">
                delete
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="previewTableColumns; sticky: true" class="table-header"></tr>
          <tr mat-row *matRowDef="let row; columns: previewTableColumns;" class="preview-table-row"></tr>
        </table>
      </div>

      <div class="submit-wrapper text-right">
        <button type="button" class="default-btn" (click)="submitPreview()">Submit</button>
      </div>
    </div>

    <div class="preview-table-wrapper" *ngIf="!showPreviewTable">
      <div class="table-wrapper">
        <table mat-table #stockTable [dataSource]="stockTableData" class="preview-table w-100">

          <ng-container matColumnDef="Num">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let rowIndex = index"> {{rowIndex+1}} </td>
          </ng-container>

          <ng-container matColumnDef="Image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let element"> {{element.Image}} </td>
          </ng-container>

          <ng-container matColumnDef="CategoryName">
            <th mat-header-cell *matHeaderCellDef> Product </th>
            <td mat-cell *matCellDef="let element"> {{element.CategoryName}} </td>
          </ng-container>

          <ng-container matColumnDef="Product">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.Product}} </td>
          </ng-container>

          <ng-container matColumnDef="Weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.Weight}} </td>
          </ng-container>

          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef class="desc-col"> Description </th>
            <td mat-cell *matCellDef="let element" class="desc-col"> {{element.Description}} </td>
          </ng-container>

          <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
          </ng-container>

          <ng-container matColumnDef="QualityCategory">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.QualityCategory}} </td>
          </ng-container>

          <ng-container matColumnDef="SuppliedDate">
            <th mat-header-cell *matHeaderCellDef class="suuplied-date-col"> Supplied Date </th>
            <td mat-cell *matCellDef="let element" class="suuplied-date-col"> {{element.SuppliedDate}} </td>
          </ng-container>

          <ng-container matColumnDef="Demand">
            <th mat-header-cell *matHeaderCellDef> Demand </th>
            <td mat-cell *matCellDef="let element"> {{element.Demand}} </td>
          </ng-container>

          <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element;let rowIndex = index;">
              <span class="material-icons cursor-pointer" (click)="deleteStockTableRow(rowIndex, element.StockID)">
                delete
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="stockTableColumns; sticky: true" class="table-header"></tr>
          <tr mat-row *matRowDef="let row; columns: stockTableColumns;" class="preview-table-row"></tr>
        </table>
      </div>
    </div>
  </div>

</div>
