@import "variables.scss";

.my-inventory-wrapper {
  position: relative;

  .gym-items-list {
    width: 20%;
    height: 90vh;
    overflow-y: auto;
    border-right: 1px solid $light-grey-color;
    padding: 10px 0;

    .menu-icon {
      display: block;
    }

    .category-wrapper {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;

      .category-list {
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;

        .category-img-wrapper {
          height: 40px;
          width: 40px;
          margin-right: 10px;
        }

        .category-name {
          font-size: 14px;
        }

        &:hover,
        &.active {
          background: $main-color;

          .category-name {
            color: #fff;
          }
        }
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .gym-items-info {
    width: 80%;
    padding: 10px;

    .selected-category {
      padding: 10px 0;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 480px) {
  .my-inventory-wrapper {

    .gym-items-list {
      width: 0;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;

      .menu-icon {
        display: block;
      }
    }

    .gym-items-info {
      width: 100%;
    }
  }
}
