@import "variables.scss";

.my-inventory-wrapper {

  padding-top: 55px;

  .table-name {
    padding-bottom: 10px;
    align-items: center;

    .name {
      margin-left: 5px;
    }
  }

  .category-list {
    width: 15%;
    background: $white-color;
    position: fixed;
    z-index: 1;
  }

  .gym-items-info {
    margin-left: 15%;
    padding: 15px;

    .selected-category {
      padding: 10px 0;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.preview-table-wrapper {

  .table-name {
    padding-bottom: 10px;
    align-items: center;

    .name {
      margin-left: 5px;
    }
  }

  .table-wrapper {
    max-width: 100%;
    max-height: 85vh;
    overflow: auto;

    .preview-table {
      border: 1px solid rgba(0, 0, 0, .12);

      .table-header {
        background: $table-header-color;

        th {
          font-weight: 600;
          padding-left: 10px;
          padding-right: 10px;
          min-width: 80px;
        }

      }

      .preview-table-row {

        td {
          padding-left: 10px;
          padding-right: 10px;
          min-width: 80px;
        }
      }

      .num-col {
        min-width: 50px !important;
      }

      .desc-col {
        min-width: 250px !important;
      }

      // .suuplied-date-col {
      //   min-width: 160px !important;
      // }

    }
  }

  .submit-wrapper {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .my-inventory-wrapper {

    .gym-items-info {
      width: 100%;
    }
  }
}
